@import '/src/assets/styles/mixins.scss';

.page {
    &_bg {
        background-image: url('../../assets/images/falcon-with-disk.png');
        background-repeat: no-repeat;
        background-position: right bottom;
        background-size: 35% 78%;
        max-height: 100dvh;
        min-height: 100dvh;
        height: 100%;


        @include _1540 {
            background-size: 36% 70%;
        }

        @include _1250 {
            background-size: auto 50%;
            background-position: right bottom;
        }

        @include _900 {
            background-size: 49% auto, auto 20%;
        }

        @include _360 {
            background-size: 45% auto, auto 20%;
        }

        position: relative;
    }

    &_content {

        @include container;
        height: 100%;
        padding-top: min(2.5vw, 4.5dvh);

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include _900 {
            padding-top: min(8.5vw, 8.5dvh);
        }

        &_title {
            width: 100%;
            max-width: 981px;
            object-fit: contain;
            object-position: left;
            height: min(25vw, 32dvh);
            max-height: 294px;
            @include none-select;

            margin-top: 4dvh;
            margin-bottom: 6dvh;
        }

        &_subtitle {
            font-family: 'Uralsib-Bold';
            font-size: min(5.2dvh, 5vw, 40px);
            font-weight: 700;
            line-height: min(5.2dvh, 5vw, 40px);
            margin-bottom: 20px;
        }

        &_text {
            font-family: 'Uralsib-Light';
            font-size: min(3.2dvh, 4vw, 24px);
            font-weight: 400;
            line-height: min(3.5dvh, 4.6vw, 24px);
            width: 100%;

            &_number {
                margin-right: 5px;
            }
        }

        &_btn {
            max-width: 400px;
            margin-right: auto;
            position: relative;
            z-index: 2;


            margin-top: min(4.2dvh, 7vw);
        }




        &_disclaimer {
            position: absolute;
            bottom: 20px;
            font-family: 'Uralsib-Light';
            font-size: 14px;
            font-weight: 300;
            line-height: 14px;

            width: min(1600px, 90%);

            color: var(--color-primary-b1);

            @include _900_910 {
                font-size: 12px;
                line-height: 12px;
                width: 85%;
            }

            @include _900 {
                font-size: 12px;
                line-height: 12px;
                width: 85%;
            }

            @include _360 {
                font-size: 8px;
                line-height: 8px;
                width: 85%;
            }
        }
    }
}


.modal_how {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    @include _900 {
        max-height: auto;
    }

    &_title {
        display: block;
        object-fit: contain;
        max-width: 478px;
        width: 90%;
        height: 74px;
        @include none-select;

        margin-bottom: min(2.5vw, 4.5dvh);
    }


    &_text {
        font-family: 'Uralsib-Regular';
        font-size: min(3.2dvh, 4vw, 24px);
        font-weight: 400;
        line-height: min(3.2dvh, 4vw, 24px);
        width: 85%;

        &_item {
            margin-bottom: min(0.5vw, 0.5dvh);
        }

    }

    &_link {
        margin-top: min(2.5vw, 4.5dvh);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}