@import '/src/assets/styles/mixins.scss';

.page {
    &_bg {
        background-image: url('../../assets/images/falcon-with-disk.png');
        background-repeat: no-repeat;
        background-position: right bottom;
        background-size: 32% 70%;
        height: 100dvh;

        @include _1540 {
            background-size: 36% 70%;
        }

        @include _1250 {
            background-size: 50% auto;
            background-position: right bottom;
        }

        @include _900 {
            background-size: 60% auto, auto 20%;
        }
    }

    &_content {

        @include container;
        height: 100%;
        padding-top: 50px;
        padding-bottom: 20px;

        display: flex;
        flex-direction: column;

        gap: 20px;

        @include _900 {
            padding-top: 8%;
            gap: 3%;
        }

        &_title {
            width: 100%;
            max-width: 981px;
            height: 294px;
            @include none-select;

            margin-bottom: 20px;

            @include _900 {
                object-fit: contain;
                height: 120px;
                object-position: left;
                margin-bottom: 0px;
            }
        }

        &_subtitle {
            font-family: 'Uralsib-Bold';
            font-size: 40px;
            font-weight: 700;
            line-height: 40px;
            margin-bottom: 20px;

            @include _900 {
                font-size: 25px;
                line-height: 25px;
                margin-bottom: 10px;
            }
        }

        &_text {
            font-family: 'Uralsib-Regular';
            font-size: 24px;
            font-weight: 400;
            line-height: 24px;
            width: 45%;

            @include _1540 {
                width: 50%;
            }

            @include _1250 {
                width: 60%;
            }

            @include _900 {
                width: 100%;
                font-size: 16px;
                line-height: 16px;
            }

            &_number {
                margin-right: 10px;
            }
        }

        &_btn {
            max-width: 400px;
            margin-right: auto;
        }




        &_disclaimer {
            position: absolute;
            bottom: 20px;
            font-family: 'Uralsib-Light';
            font-size: 14px;
            font-weight: 300;
            line-height: 14px;

            width: 60%;

            color: var(--color-primary-b1);

            @include _900 {
                width: 95%;
                bottom: 10px;
                font-size: 12px;
                line-height: 12px;
            }
        }
    }
}


.modal_how {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    height: 100%;
    max-height: 549px;

    &_title {
        display: block;
        object-fit: contain;
        max-width: 478px;
        width: 90%;
        height: 74px;
        @include none-select;

        @include _900 {
            margin-top: 10px;
        }
    }


    &_text {
        font-family: 'Uralsib-Regular';
        font-size: 24px;
        font-weight: 400;
        line-height: 24px;
        width: 85%;

        @include _900 {
            padding-left: 10px;
            width: 90%;
            font-size: 20px;
            line-height: 20px;
        }

        &_item {
            margin-bottom: 10px;
        }

    }
}