@import '/src/assets/styles/mixins.scss';

.page {
    &_bg {


        width: 100%;
        height: 100%;
        position: relative;
        z-index: 0;
        &_img {
            position: absolute;
            right: 0;
            bottom: 0;
            object-fit: contain;
            object-position: right;
            z-index: -1;

            @include _landscape {
                max-height: 80%;
                width: 35%
            }

            @include _portrait {
                height: 23em
            }
        }
    }

    &_content {

        @include container;
        height: 100%;
        padding-top: 2.8em;

        display: flex;
        flex-direction: column;

        @include _portrait {
            padding-top: 5em;
        }

        &_title {
            width: 100%;
            object-fit: contain;
            object-position: left;
            height: 19.5em;

            @include none-select;

            margin-top: 2.8em;
            margin-bottom: 4em;
        }

        &_subtitle {
            font-family: 'Uralsib-Bold';
            font-size: 2.75em;
            font-weight: 700;
            line-height: 1em;
            margin-bottom: 0.5em;

            @include _portrait {
                margin-bottom: 1em;
            }
        }

        &_text {
            font-family: 'Uralsib-Light';
            font-size: 1.6em;
            font-weight: 400;
            line-height: 1em;
            width: 100%;

            &_number {
                margin-right: 0.05em;
            }

            @include _portrait {
                font-size: 2.35em;
                line-height: 1.1em;
            }
        }

        &_btn {
            margin-right: auto;
            position: relative;
            z-index: 2;
            margin-top: 1.8em;
            @include _portrait {
                margin-top: 2em;
            }
        }




        &_disclaimer {
            bottom: 1.5em;
            font-family: 'Uralsib-Light';
            font-size: 0.95em;
            line-height: 1em;
            font-weight: 300;

            background-color: rgba(0, 0, 0, 0.40);
            padding: 0.8em;
            color: var(--color-primary-b1);
            margin-top: auto;
            margin-bottom:  1.5em;
            margin-right: auto;
            margin-left: 0;
            border-radius: 1em;

            @include _portrait {
                font-size: 1.15em;
                line-height: 1em;
            }
        }
    }
}


.modal_how {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    &_title {
        display: block;
        object-fit: contain;
        width: 90%;
        height: 5em;
        @include none-select;

        
        margin-bottom: 2.5em;
        @include _portrait {
           height: 8em;
           margin-bottom: 2em;
        }
    }


    &_text {
        font-family: 'Uralsib-Regular';
        font-size: 1.7em;
        font-weight: 400;
        line-height: 1em;
        width: 85%;

        @include _portrait {
            font-size: 2.30em;
        }

        &_item {
            margin-bottom: 0.6em;
        }

    }

    &_link {
        margin-top: 2.9em;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.bold {
    font-family: 'Uralsib-Bold', sans-serif;
}