@import '/src/assets/styles/mixins.scss';

.page {
    &_bg {
        background-image: url('../../assets/images/falcon-with-disk.png');
        background-repeat: no-repeat;
        background-position: right bottom;
        background-size: 36% 80%;
        min-height: 100vh;
        height: 100%;

        @include _1540 {
            background-size: 36% 70%;
        }

        @include _1250 {
            background-size: 50% auto;
            background-position: right bottom;
        }

        @include _900 {
            background-size: 70% auto;
        }
    }

    &_content {
        @include container;
        height: 100%;
        padding-top: 50px;
        padding-bottom: 20px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include _900 {
            justify-content: flex-start;
            padding-top: 20px;
        }

        &_block {
            margin-top: 70px;
            @include _900 {
                margin-top: 10px;
            }
        }

        &_title {
            object-fit: contain;
            height: 147px;
            @include none-select;
            margin-bottom: 20px;

            @include _900 {
                height: 110px;
                object-position: left;
                margin-bottom: 10px;
            }

            @include _360 {
                height: 90px;
                object-position: left;
                margin-bottom: 10px;
            }
        }

        &_subtitle {
            font-family: 'Uralsib-Bold';
            font-size: 40px;
            font-weight: 700;
            line-height: 40px;
            margin-bottom: 50px;

            @include _900 {
                font-size: 25px;
                line-height: 25px;
                margin-bottom: 30px;

                &:nth-child(1) {
                    margin-top: 8%;
                }
            }
        }

        &_text {
            font-family: 'Uralsib-Light';
            font-size: 24px;
            font-weight: 400;
            line-height: 24px;
            width: 45%;

            @include _1540 {
                width: 50%;
            }

            @include _1250 {
                width: 60%;
            }

            @include _900 {
                width: 100%;
                font-size: 16px;
                line-height: 16px;
            }
            &_number {
                margin-right: 10px;
            }
        }

        &_btns {
            margin-top: 50px;

            @include _900 {
                margin-bottom: 0px;
                margin-top: 5%;
                margin-bottom: 300px;
            }
        }

        &_btn {
            &:nth-child(1) {
                margin-bottom: 10px;
            }
        }
    }
}