@import '/src/assets/styles/mixins.scss';

.page {
    &_bg {
        background-image: url('../../assets/images/falcon-with-disk.png');
        background-repeat: no-repeat;
        background-position: right bottom;
        background-size: 35% 78%;
        max-height: 100dvh;
        min-height: 100dvh;
        height: 100%;


        @include _1540 {
            background-size: 36% 70%;
        }

        @include _1250 {
            background-size: auto 50%;
            background-position: right bottom;
        }

        @include _900 {
            background-size: 34% auto, auto 20%;
        }
    }

    &_content {
        @include container;
        height: 100%;
        padding-top: min(2.5vw, 4.5dvh);

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include _900 {
            padding-top: min(8.5vw, 8.5dvh);
        }


        &_block {
            margin-top: min(9dvh, 6vw);

            @include _900 {
                margin-top: min(12dvh, 14vw);
            }
        }

        &_title {
            object-fit: contain;
            height: min(25vw, 20dvh);
            max-height: 147px;
            @include none-select;
            margin-bottom: min(2.2dvh, 2vw, 20px);
            @include _900 {
                height: min(20vw, 20dvh);
            }
        }

        &_subtitle {
            font-family: 'Uralsib-Bold';
            font-size: min(5.2dvh, 5vw, 40px);
            font-weight: 700;
            line-height: min(5.2dvh, 5vw, 40px);
            margin-bottom: min(6dvh, 5vw);

            &_second {
                margin-bottom: min(5dvh, 4vw, 30px);
            }
        }

        &_text {
            font-family: 'Uralsib-Regular';
            font-size: min(3.1vh, 4vw, 24px);
            font-weight: 400;
            line-height: min(3.7dvh, 4.8vw, 24px);
            width: 40vw;

            @include _900_910 {
                width: 60vw;
            }

            @include _900 {
                width: 100%;
            }



            &_number {
                margin-right: 10px;
            }
        }

        &_btns {
            margin-top: min(5dvh, 3.7vw);
        }
    }
}