@import '/src/assets/styles/mixins.scss';

.Modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 20;
    opacity: 0;
    pointer-events: none;
}

.overlay {
    width: 100%;
    height: 100%;
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    padding: 50px 30px 70px 30px;
    border-radius: 12px;
    background: #BDBDBD4D;
    box-shadow: 4px 4px 20px 0px #FFFFFF4D inset;
    max-width: 851px;
    width: 100%;
    margin: 10px;
    position: relative;

    @include _900 {
        padding: 30px 20px 30px 20px;
    }
}

.opened {
    opacity: 1;
    pointer-events: auto;
}

.icon {
    position: absolute;
    top: 32px;
    right: 32px;
    cursor: pointer;

    
    @include _900 {
        top: 16px;
        right: 16px;
    }
}