@import '/src/assets/styles/mixins.scss';

.button {
    font-size: 1.6em;
    line-height: 1em;
    color: var(--color-primary);
    width: 8.2em;
    height: 2.9em;
    display: flex; /* Используем flex для выравнивания содержимого по центру */
    align-items: center;
    justify-content: center;

    text-wrap: nowrap;

    border-color: rgb(0, 0, 0, 0);
    border-width: 2px;
    border-style: solid;

    border-top-right-radius: 35px;
    border-bottom-left-radius: 35px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;

    z-index: 0;
    position: relative;

    @include _portrait {
        font-size: 2.35em;
        line-height: 1.1em;
        width: 7.5em;
        height: 2.5em;
        margin-right: -0.3em;
    }

    cursor: pointer;

    &_big {
        @include _landscape {
            width: 15.2em;
        }
        @include _portrait {
            @include _530  {
                width: 100%;
            }
        }
    }

    &_medium {
        @include _landscape {
            width: 15.2em;
        }
        @include _portrait {
            @include _530  {
                width: 80%;
                height: 60px;
            }
        }
    
    }

    &:hover {
        opacity: 0.7;
    }
}

.img {
    position: relative;
    object-fit: contain;
    width: 100%;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
    white-space: nowrap;
}

.disabled {
    opacity: 0.4;
    cursor: default;

    &:hover {
        opacity: 0.4;
    }
}