@import '/src/assets/styles/mixins.scss';

.header_test {
    display: flex;
    flex-direction: column;

    &_first {
        display: flex;
        width: 100%;
        justify-content: space-between;
        gap: 15px;

        margin-bottom: 20px;

        @include _1540 {
            gap: 10px;
        }

        @include _900 {
            gap: 5px;
        }
    }

    &_second {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            @include _900 {
                object-fit: contain;
                height: min(7vw, 35px);
            }
        }

        &_progress {
            font-size: 32px;
            font-weight: 400;
            line-height: 35px;

            @include _900 {
                font-size: 18px;
                line-height: 18px;
            }
        }

        &_coins {
            display: flex;
            align-items: center;
            gap: 20px;

            @include _900 {
                gap: 10px;

                & img {
                    object-fit: contain;
                    height: min(7vw, 30px);
                    @include _900 {
                        margin-bottom: 5px;
                    }
                }
            }

            &_text {
                font-size: 32px;
                font-weight: 400;
                margin-top: 10px;
                line-height: 35px;

                @include _900 {
                    font-size: 16px;
                    margin-top: 0px;
                    line-height: 16px;
                }
            }
        }
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        @include _900 {
            object-fit: contain;
            width: 140px;
        }
    }
}


.modal_about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding-top: min(8.5vw, 8.5dvh) !important;
    margin: 8% !important;

    & img {
        @include none-select;
    }

    &_title {
        display: block;
        object-fit: contain;
        width: 90%;
        height: min(10vw, 10dvh, 74px);;
        margin-bottom: min(1.8vw, 3.5dvh);
    }

    &_card {
        height: 100%;
    
        height: min(25vw, 32dvh, 150px);
        object-fit: contain;
        margin-bottom: min(1.8vw, 3.5dvh)
    }

    &_text {
        font-family: 'Uralsib-Regular';
        list-style-type: disc;

        font-size: min(3dvh, 4vw, 24px);
        font-weight: 400;
        line-height: min(3dvh, 4vw, 24px);
        letter-spacing: 0em;
        text-align: left;
        width: 85%;

        &_item {
            margin-bottom: 12px;
            list-style: disc outside none;

            &::marker {
                font-size: 1.5em;
            }

            &:last-child {
                margin-bottom: min(2.5vw, 4.5dvh)
            }
        }

    }
}


.slide {
    flex: 1;

    max-width: 150px;
    width: 100%;
    height: 8px;
    border-top-left-radius: 5px;
    border-top-right-radius: 35px;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 5px;
    border-radius: 5px, 35px, 5px, 35px;
    border: 3px solid #f3e5ff;
    box-shadow: 0 0 8px #b506e6, 0 0 8px #b506e6, 0 0 8px #b506e6, 0 0 8px #b506e6, inset 0 0 8px #b506e6, inset 0 0 8px #b506e6;

    &_completed {
        background: #f3e5ff;
        box-shadow: 0 0 8px #b506e6, 0 0 8px #b506e6, 0 0 8px #b506e6, 0 0 8px #b506e6;
    }

    &_wrong {
        background: #f3e5ff;
        box-shadow: 0 0 8px #FF0000, 0 0 8px #FF0000, 0 0 8px #FF0000, 0 0 8px #FF0000;
    }

    &_correct {
        background: #f3e5ff;
        box-shadow: 0 0 8px #3EE423, 0 0 8px #3EE423, 0 0 8px #3EE423, 0 0 8px #3EE423;
    }

}

.icon {
    position: absolute;
    top: 32px;
    right: 32px;
    cursor: pointer;

    
    @include _900 {
        width: 15px;
        height: 15px;
        top: 16px;
        right: 16px;
    }
}