@mixin container {
    max-width: 1676px;
    margin: 0 auto;
    padding: 35px;
}

@mixin none-select {
    user-drag: none;
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@mixin _1540 {
    @media (max-width: 1540px) {
        @content;
    }
}

@mixin _1250 {
    @media (max-width: 1250px) {
        @content;
    }
}

@mixin _900 {
    @media (max-width: 900px) {
        @content;
    }
}

@mixin _360 {
    @media (max-width: 380px) {
        @content;
    }
}


@mixin _900_910 {
    @media (min-width: 900px) and ( max-height: 910px) {
        @content;
    }
}

@mixin _900_750 {
    @media (min-width: 900px) and ( max-height: 750px) {
        @content;
    }
}