@import '/src/assets/styles/mixins.scss';

.page {
    &_bg {
        min-height: 100vh;
        height: 100%;
    }

    &_content {
        @include container;
        height: 100%;
        padding-top: 50px;
        padding-bottom: 20px;

        display: flex;
        flex-direction: column;

        @include _900 {
            padding-top: 30px;
        }



        &_test {
            margin-top: 40px;
            display: flex;
            justify-content: space-between;
            gap: 20px;

            @include _900 {
                padding-top: 20px;
                flex-direction: column;
                margin-top: 0px;
            }

            &_img {
                max-width: 716px;
                object-fit: contain;
                width: 100%;
                flex-basis: 60%;

                @include _1540 {
                    max-width: 616px;
                }

                @include _1250 {
                    max-width: 456px;
                }

                @include _900 {
                    max-width: auto;
                    margin: 0 auto;
                    flex-basis: 40%;
                    height: 320px;
                    width: 50wv;
                }
            }

            &_questions {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 30px;
                max-width: 840px;
                width: 100%;
                flex-basis: 50%;

                @include _900 {
                    justify-content: flex-start
                }

                &_question {
                    font-family: 'Uralsib-Bold';
                    font-size: 38px;
                    font-weight: 700;
                    line-height: 48px;


                    @include _1540 {
                        font-size: 34px;
                        line-height: 44px;
                    }

                    @include _1250 {
                        font-size: 30px;
                        line-height: 40px;
                    }

                    @include _900 {
                        font-size: 22px;
                        line-height: 22px;
                    }


                }
            }
        }

    }
}

.coin_rain_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 200vh;
    pointer-events: none;
    overflow: hidden;

}

.coin {
    position: absolute;
    animation-name: fall;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    z-index: 1000;
}

@keyframes fall {

    0% {
        transform: translateY(-55vh);
    }

    100% {
        transform: translateY(200vh) rotate(360deg);
    }
}