@import '/src/assets/styles/mixins.scss';


.page {
    &_bg {
        height: 100dvh;
    }

    &_content {
        @include container;
        height: 100%;
        padding-top: 50px;
        padding-bottom: 20px;

        display: flex;
        flex-direction: column;

        @include _900 {
            padding-top: 20px;
        }



        &_test {
            margin-top: 40px;
            display: flex;
            justify-content: space-between;
            gap: 20px;

            @include _900 {
                padding-top: 20px;
                flex-direction: column;
                margin-top: 0px;
            }

            &_img {
                max-width: 716px;
                object-fit: contain;
                width: 100%;
                flex-basis: 60%;

                @include _1540 {
                    max-width: 616px;
                }

                @include _1250 {
                    max-width: 456px;
                }

                @include _900 {
                    height: 20vh;
                    max-width: auto;
                    margin: 0 auto;
                    width: 32vh;
                }
            }

            &_questions {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 30px;
                max-width: 840px;
                width: 100%;
                flex-basis: 50%;

                @include _900 {
                    gap: 5%;
                }

                &_question {
                    font-family: 'Uralsib-Bold';
                    font-size: 38px;
                    font-weight: 700;
                    line-height: 48px;


                    @include _1540 {
                        font-size: 34px;
                        line-height: 44px;
                    }

                    @include _1250 {
                        font-size: 30px;
                        line-height: 40px;
                    }

                    @include _900 {
                        font-size: 24px;
                        line-height: 24px;
                    }

                    @include _360 {
                        font-size: 18px;
                        line-height: 18px;
                    }

                }
            }
        }

    }
}